/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

@font-face {
  font-weight: 300;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/RobotoLight.woff"); }

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/RobotoRegular.woff"); }

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/RobotoMedium.woff"); }

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/RobotoBold.woff"); }

.page-body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

.btn {
  width: 48%;
  min-height: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 36px;
  color: white;
  background-color: #c4092f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.5s, color 0.5s; }
  .btn__svg {
    -ms-transform: translateY(1px);
        transform: translateY(1px);
    transition: fill 0.5s;
    fill: white; }
  .btn:hover {
    color: rgba(255, 255, 255, 0.75);
    background-color: #a0001f; }
    .btn:hover > .btn__svg {
      fill: rgba(255, 255, 255, 0.75); }
  .btn:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #7a0018;
    transition: background 0s, color 0s; }
    .btn:active > .btn__svg {
      transition: fill 0s;
      fill: rgba(255, 255, 255, 0.5); }
  .btn--submit {
    position: relative; }
  .btn--delete {
    width: 73px;
    height: 29px;
    min-height: 30px;
    font-weight: 300;
    font-size: 13px;
    line-height: 25px;
    color: white;
    background-color: #282d30;
    border: none;
    border-radius: 20px;
    cursor: pointer; }
    .btn--delete:active {
      color: rgba(255, 255, 255, 0.5);
      background-color: #282d30;
      transition: background 0s, color 0s; }

.page-header {
  min-height: 80px;
  background-color: #282d30; }

.page-footer {
  box-sizing: border-box;
  min-height: 102px;
  font-weight: 300;
  font-size: 11px;
  text-align: center;
  color: white;
  background-color: #282d30; }
  .page-footer__copyright {
    margin: 0;
    text-transform: uppercase; }
  .page-footer__quote {
    margin: 0; }

.page-wrapper {
  max-width: 960px;
  margin: 0 auto; }
  .page-wrapper--footer {
    padding-top: 36px; }

.page-logo {
  margin-bottom: 30px;
  padding-top: 10px;
  font-size: 0;
  line-height: 0;
  text-align: center; }
  .page-logo > img {
    width: 297px;
    height: 63px;
    margin: 0; }

.page-title {
  margin: 0 0 15px 0;
  font-weight: bold;
  font-size: 42px;
  line-height: 42px;
  text-align: center;
  color: #282d30; }

.form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 30px;
  padding: 0 10px;
  font-family: "Roboto", sans-serif; }
  .form__inputs-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 100%;
    padding-bottom: 20px; }
  .form__radio-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    width: 200px;
    padding: 0 0 30px 0; }
  .form__label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 48%;
    margin-top: 10px; }
    .form__label--name {
      -ms-flex-order: 1;
          order: 1;
      width: 100%; }
    .form__label--description {
      -ms-flex-order: 4;
          order: 4;
      width: 100%; }
    .form__label--year {
      -ms-flex-order: 3;
          order: 3; }
    .form__label--price {
      -ms-flex-order: 2;
          order: 2; }
    .form__label--radio {
      width: auto;
      cursor: pointer; }
      .form__label--radio:hover > span {
        border: 4px solid #c4092f;
        transition: border 0.25s; }
    .form__label--select {
      width: 48%;
      margin: 0; }
    .form__label--radio-btns {
      margin-top: 0;
      padding-right: 30%; }
  .form__input-title {
    -ms-flex-order: 0;
        order: 0;
    padding: 0 0 5px 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #999999;
    visibility: hidden;
    opacity: 0; }
  .form__input {
    -ms-flex-order: 1;
        order: 1;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    font-family: "Roboto", sans-serif;
    color: #111111;
    border: 1px solid #dcdcdc;
    border-bottom-width: 2px;
    cursor: pointer; }
    .form__input:hover {
      border-bottom-color: #c4092f;
      transition: border 0.5s; }
      .form__input:hover ~ span {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.5s; }
    .form__input:focus {
      border-bottom-color: #111111;
      transition: border 0.5s; }
      .form__input:focus ~ span {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.5s; }
    .form__input::-webkit-input-placeholder {
      color: #999999; }
    .form__input:-ms-input-placeholder {
      color: #999999; }
    .form__input::placeholder {
      color: #999999; }
  .form__select {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    font-family: "Roboto", sans-serif;
    color: #999999;
    border: 1px solid #dcdcdc;
    border-bottom-width: 2px;
    cursor: pointer; }
    .form__select:hover {
      border-bottom-color: #c4092f;
      transition: border 0.5s; }
    .form__select:focus {
      border-bottom-color: #111111;
      transition: border 0.5s; }
    .form__select::-webkit-input-placeholder {
      color: #999999; }
    .form__select:-ms-input-placeholder {
      color: #999999; }
    .form__select::placeholder {
      color: #999999; }
  .form__input-radio {
    display: none; }
    .form__input-radio:checked + span {
      border: 4px solid #c4092f;
      transition: border 0.5s; }
  .form__group-name {
    width: 100%;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #999999; }
  .form__select-option {
    color: #999999; }
    .form__select-option:disabled {
      font-weight: bold; }

.table {
  display: block;
  border-collapse: collapse;
  font-weight: 300;
  font-size: 14px; }
  .table__caption {
    display: none; }
  .table__header {
    display: none; }
  .table__item {
    display: block;
    color: #323232;
    background-color: #f5f6f6;
    border-top: 1px solid #e6e9ea; }
    .table__item tr:first-of-type {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-align: center;
          align-items: center;
      padding: 10px; }
    .table__item tr:last-of-type {
      display: none; }
  .table__item-value--title {
    -ms-flex-order: 1;
        order: 1;
    width: 45%; }
  .table__item-value--year {
    -ms-flex-order: 5;
        order: 5;
    padding-right: 20px; }
  .table__item-value--color {
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-order: 2;
        order: 2;
    padding: 0 20px;
    text-align: right; }
  .table__item-value--status {
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-order: 6;
        order: 6; }
  .table__item-value--price {
    -ms-flex-order: 3;
        order: 3; }
  .table__item-value--btn {
    -ms-flex-order: 7;
        order: 7; }
  .table__item-value--description {
    display: none; }
  .table__item-value--description-mobile {
    display: block;
    -ms-flex-order: 4;
        order: 4;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    font-size: 13px;
    color: #8b9497; }

.indication-circle {
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 4px solid #dddddd;
  border-radius: 50%; }
  .indication-circle--white {
    background-color: white; }
  .indication-circle--black {
    background-color: black;
    border-color: black; }
  .indication-circle--red {
    background-color: #d74345;
    border-color: #d74345; }
  .indication-circle--grey {
    background-color: #cbcbcc;
    border-color: #cbcbcc; }
  .indication-circle--green {
    background-color: #88c504;
    border-color: #88c504; }

.error-message {
  z-index: 100;
  margin: 0 auto;
  text-align: center;
  background-color: red;
  font-size: 25px; }

@media (min-width: 720px) {
  .btn {
    width: 32%;
    border: none;
    cursor: pointer;
    transition: background 0.5s, color 0.5s; }
  .btn:hover {
    color: rgba(255, 255, 255, 0.75);
    background-color: #a0001f; }
  .btn:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #7a0018;
    transition: background 0s, color 0s; }
  .btn--submit {
    margin-top: 10px; }
  .btn--delete {
    width: 100px;
    min-height: 30px;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    color: #8b9497;
    background: none;
    border: none;
    border-radius: 20px;
    cursor: pointer; }
  .btn--delete:hover {
    color: white;
    background-color: #282d30; }
  .btn--delete:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #282d30;
    transition: background 0s, color 0s; }
  .page-header {
    min-height: 102px; }
  .page-wrapper {
    padding: 0 10px; }
  .page-wrapper--footer {
    padding-top: 36px; }
  .page-logo {
    margin-bottom: 67px; }
  .page-logo > img {
    width: 494px;
    height: 104px;
    margin-bottom: -110px; }
  .page-title {
    margin: 0 0 42px 0;
    font-weight: bold;
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    color: #282d30; }
  .form {
    padding: 0; }
  .form__label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 32%; }
  .form__label--radio {
    width: auto; }
  .form__label--year {
    -ms-flex-order: 2;
    order: 2; }
  .form__label--price {
    -ms-flex-order: 3;
    order: 3; }
  .form__label--description {
    width: 100%; }
  .form__label--select {
    margin-top: 10px; }
  .form__label--radio-btns {
    margin-top: 0;
    padding-right: 0; }
  .table {
    display: table;
    width: 100%;
    margin-bottom: 25px;
    font-size: 15px; }
  .table__caption {
    display: table-caption;
    margin-bottom: 25px;
    padding-left: 11px;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    color: #282d30;
    text-transform: uppercase;
    border-left: 3px solid #8b9497; }
  .table__item {
    display: table-row-group;
    color: #323232;
    background-color: #f5f6f6;
    border-bottom: 1px solid #e6e9ea; }
  .table__item tr:first-of-type {
    display: table-row;
    padding: 0; }
  .table__item tr:last-child {
    display: table-row; }
  .table__item-key th {
    font-weight: 500;
    border-bottom: 1px solid #c4092f; }
  .table__item-key th:nth-child(n) {
    border-right: 2px solid #c4092f;
    border-radius: 1px; }
  .table__item-key th:first-of-type {
    border-top-left-radius: 5px; }
  .table__item-key th:last-of-type {
    border-right: none;
    border-top-right-radius: 5px; }
  .table__item-value {
    padding: 5px 15px; }
  .table__item-value--description {
    display: table-cell;
    margin: 0;
    padding: 0 15px 15px;
    font-size: 13px;
    color: #8b9497; }
  .table__item-value--description-mobile {
    display: none; }
  .table__item-price {
    min-width: 100px; }
  .table__header {
    display: table-header-group;
    color: white;
    background-color: #c4092f;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .table__header > tr {
    height: 45px;
    text-align: left; }
  .table__header > tr > th {
    padding: 0 15px; }
  .table__description {
    margin: 0;
    padding-top: 0;
    font-size: 13px;
    color: #8b9497; } }
